@import '../../assets/styles/vars.scss';

.input {
	outline: none;
	padding: 10px 20px;
	border-radius: 8px;
	border: 1px solid #d1d5db;
	font-size: inherit;
	width: 100%;

	&:focus {
		border-color: $green;
		opacity: 1;
	}
}