@import '../../assets/styles/vars.scss';

.button {
	border: none;
	border-radius: 8px;
	padding: 8px 15px;
	background-color: transparent;
	cursor: pointer;

	&:hover {
		background-color: $white_gray;
	}
}
