@import '../../assets/styles/vars.scss';

.wrapper {
	display: flex;

	.chats {
		display: flex;
		flex-direction: column;
		width: 30%;
		height: 100vh;
		border-right: 1px solid #e9e9e9;

		.navbar {
			padding: 10px 20px;
			display: flex;
			gap: 8px;

			label {
				width: 100%;
			}
		}

		.chatsList {
			display: flex;
			flex-direction: column;
			height: 100%;

			.wrapper_no_chats {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
				
				.no_сhats {
					cursor: default;
					color: $gray;
				}
			}
		}
	}

	.chatInfo {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 70%;
		height: 100vh;
		background-color: $white_gray;
	}
}
