@import '../../assets/styles/vars.scss';

.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	span {
		color: $green;
		font-size: 32px;
		font-weight: 400;
	}
}
